$color-black: #222;
$color-white: #f1f1f1;
$color-purple: #7E57C5;
$color-green: #5AB946;
$color-red: #ED0034;
$color-orange: #F58732;
$color-blue: #00A5D9;

$font-family-Roboto: 'Roboto', sans-serif;
$font-family-Montserrat: 'Montserrat', sans-serif;

/*
 * Bootstrap
 */
$theme-colors: (
  "primary": $color-purple,
  "danger": $color-red,
  "ahs-purple": $color-purple
);

$font-family-base: $font-family-Roboto;

$grid-columns: 12 !default;
$grid-gutter-width: 48px !default;
$grid-row-columns: 6 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1360px
) !default;