/*********************** ECOSPIN ***********************/
/*********************** BOOTSTRAP ***********************/
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Roboto:400,400i,500,500i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.auth {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-body {
  background-color: white;
  padding: 2rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  max-width: 1000px;
}

.card-title {
  color: #75D375;
  font-size: 1.5rem;
  font-weight: 600 !important;
  margin-bottom: 3vh !important;
  margin-top: 5vh;
}

.form-signin {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auth-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn.btn-facebook {
  color: #FFFFFF;
  background-color: #4267B2;
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  font-weight: 600;
  height: 45px;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  font-size: 1rem;
}

.btn.btn-facebook:hover {
  color: #4267B2;
  background-color: #FFFFFF;
  border: 2px solid #4267B2;
}

.btn.btn-google {
  color: #363941;
  background-color: #FFFFFF;
  border: 2px solid #363941;
  border-radius: 50px;
  font-weight: 600;
  height: 45px;
  width: 100%;
  margin-left: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  font-size: 1rem;
}

.btn.btn-google:hover {
  color: #FFFFFF;
  background-color: #363941;
  border: 2px solid #363941;
}

.auth-divider {
  color: #AAAAAA;
  margin-top: 1rem;
  text-align: center;
}

.auth-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0 10vw 0 5vw;
}

.form-label-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0 5% 0;
}

.fas {
  margin-right: 20px;
  color: #ABE6A9;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form-label {
  margin: 0;
  padding-left: 12px;
  font-size: 0.75rem;
}

.form-control {
  border: none !important;
  padding: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 0 !important;
  border-bottom: 2px solid #FFFFFF !important;
}

.form-control:focus {
  caret-color: #75D375;
  border-bottom: 2px solid #75D375 !important;
}

.form-control::-webkit-input-placeholder {
  color: #AAAAAA !important;
}

.form-control:-ms-input-placeholder {
  color: #AAAAAA !important;
}

.form-control::-ms-input-placeholder {
  color: #AAAAAA !important;
}

.form-control::placeholder {
  color: #AAAAAA !important;
}

.auth-forgot-pw {
  color: #AAAAAA !important;
  font-size: 0.875rem;
  text-align: center;
  margin-top: 15px;
}

.auth-bottom {
  color: #AAAAAA;
  text-align: center;
  font-size: 1rem;
  margin-top: 15px;
}

.auth-bottom-bold {
  color: #75D375;
}

/* Extra small devices (phones, 350px and down) */
@media only screen and (max-width: 350px) {
  .btn.btn-facebook, .btn.btn-google {
    font-size: 0.75rem;
  }
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=AuthLayout.css.map */