@import '../_sass/abstracts/index';

$page-footer-border: 2px solid #000;

.page-footer {
    margin-top: $grid-gutter-width; 
    padding-top: ($grid-gutter-width / 2);
    border-top: $page-footer-border;
}


/********************** WELCOME **********************/

.page-welcome {
	display: flex;
	flex-direction: column;
}

.welcome {
	&-background {
		background-image: url(../_static/images/welcome_background.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100vh;
		width: 100vw;
		position: absolute;
	}

	&-content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 32px;
		justify-content: space-between;
		height: 100vh;

		&-header {
			display: flex;
			justify-content: center;
			margin-top: 5vh;

			&-logo {
				width: 80%;
				max-width: 500px;
			}
		}

		&-action {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}
}

.auth-bottom.white {
	color: $ecospin-white;
}


.react-mapbox-ac-menu {
	width: auto;
	position: absolute;
	z-index: 9999;
	background-color: #fff;
	border: 1px solid #ccc;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: -1.3rem;
  }
   
  .react-mapbox-ac-input {
	margin-bottom: 1.5rem;
  }
   
  .react-mapbox-ac-suggestion {
	font-size: 18px;
	margin-bottom: .5rem;
	cursor: pointer;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
  }
   
  .react-mapbox-ac-suggestion:hover {
	background-color: #58a;
  }


/********************** SLIDER **********************/

/* .slider-wrapper {
	width: 300px;
  height: 300px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory; 
}

.slider {
	width: 300px;
	height: 300px;
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;

	& > div {
		scroll-snap-align: start;
	}
}
 */

.slide {
	/* display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
	
	width: 300px;
	flex-shrink: 0;
	height: 100%;

	width: 100vw;
	border-radius: 30px;
	height: 100%;
	padding: 0 20px 40px;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
	-moz-box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
	box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19); */

	&-picture {
		display: block;
		width: 180px;
		height: auto;
		margin-top: -75px;
	}

	&-title {
		text-align: center;
		font-size: $font-size-xl;
		font-weight: 700; 
		
		.info {
			color: $ecospin-green;
		}
	}

	&-review {
		display: flex;
		align-items: center;
		font-size: $font-size-s;

		.star {
			opacity: 0.3;

			&.checked{
				opacity: 1;
			}
		}
	}

	&-info {
		font-size: $font-size-s;
		width: 100%;

		&-battery {
			display: flex;
			justify-content: space-between;

			.battery {
				color: $ecospin-green;
			}

			& > p {
				margin: 0;
			}
		}

		&-divider {
			margin: 0;
			margin: 10px 0;
		}

		&-location {
			display: flex;
			justify-content: space-between;

			.location {
				color: $ecospin-green;
			}

			& > p {
				margin: 0;
			}
		}
	}

	&-buttons {
		width: 100%;
		margin-top: 20px;
		display: flex;

		.button-small {
			width: 50%;
			padding: 0.5rem 0;
			border-radius: 50px;
			font-size: $font-size-m;
			font-weight: 600;

			&.outline {
				border: 2px solid $ecospin-green;
				color: $ecospin-green;
				background-color: $ecospin-white;

				.navigate {
					font-size: $font-size-xl;
					margin-right: 5px;
				}
			}

			&.fill {
				border: 2px solid $ecospin-green;
				color: $ecospin-white;
				background-color: $ecospin-green;
				margin-left: 10px;

				.scan {
					font-size: $font-size-l;
					margin-right: 10px;
				}
			}
		}
	}
}







/********************** BROL **********************/





.slider {
		// important: scroll 
	display: flex; 
	overflow-x: auto; 
	scroll-snap-type: x mandatory; 
	scroll-behavior: smooth; 
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;	

	&::-webkit-scrollbar {
		display: none;
	  }

	& > .slide {
		// important: scroll 
	scroll-snap-align: center;
	flex-shrink: 0;
	width: 75vw;
	}
}


.slide {
		// important: scroll 
	display: flex;
	flex-direction: column;
	position: relative;

	margin: 12.5vw;
	border-radius: 30px;
	padding: 0 20px 40px;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
	-moz-box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
	box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
	align-items: center;
	
}

.background {
	background-color: red;
	height: 100vh;
	position: relative;
}