@import '../_sass/abstracts/index';

.container-profile {
	max-width: 900px;
	margin: 0 auto;
}

.posts {
	margin-bottom: 100px;
}

.post {
	padding: 10px !important;
	border-radius: 25px !important;
}

.routes {
	margin-bottom: 100px;
}

.route {
	padding: 10px !important;
	border-radius: 25px !important;
}

.button-add-image {
	width: 60px;
	height: 60px;
	background-color: $ecospin-green;
	color: $ecospin-white;
	position: fixed;
	font-size: $font-size-xxl;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0;
	margin: 20px;
	margin-bottom: 90px;
	z-index: 10;
	bottom: 0;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
	-moz-box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
	box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
}