@import '../../_sass/abstracts/index';


.slider {
	// important: scroll 
	display: flex; 
	overflow-x: auto; 
	scroll-snap-type: x mandatory; 
	scroll-behavior: smooth; 
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;	

	&::-webkit-scrollbar {
		display: none;
	}

	& > .slide {
		// important: scroll 
	scroll-snap-align: center;
	flex-shrink: 0;
	width: 80vw;
	}
}

.slide {
		// important: scroll 
	display: flex;
	flex-direction: column;
	position: relative;

	margin: 12.5vw;
	border-radius: 30px;
	padding: 0 20px 40px;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
	-moz-box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
	box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
	align-items: center;
	background-color: $ecospin-white;
}

.slide {
	&-picture {
		display: block;
		width: 180px;
		height: auto;
		margin-top: -75px;
	}

	&-title {
		text-align: center;
		font-size: $font-size-xl;
		font-weight: 700; 
		
		.info {
			color: $ecospin-green;
			margin-left: 0.5rem;
		}
	}

	&-review {
		display: flex;
		align-items: center;
		font-size: $font-size-s;

		.star {
			opacity: 0.3;

			&.checked{
				opacity: 1;
			}
		}
	}

	&-info {
		font-size: $font-size-s;
		width: 100%;

		&-battery {
			display: flex;
			justify-content: space-between;

			.battery {
				color: $ecospin-green;
				margin-right: 0.3rem;
				font-size: $font-size-l;
			}

			& > p {
				margin: 0;
			}
		}

		&-divider {
			margin: 0;
			margin: 10px 0;
		}

		&-location {
			display: flex;
			justify-content: space-between;

			.location {
				color: $ecospin-green;
				margin-right: 0.3rem;
				font-size: $font-size-l;
			}

			& > p {
				margin: 0;
			}
		}
	}

	&-buttons {
		width: 100%;
		margin-top: 20px;
		display: flex;

		.button-small {
			width: 50%;
			padding: 0.5rem 0;
			border-radius: 50px;
			font-size: $font-size-m;
			font-weight: 600;

			&.outline {
				border: 2px solid $ecospin-green;
				color: $ecospin-green;
				background-color: $ecospin-white;

				.navigate {
					font-size: $font-size-xl;
					margin-right: 5px;
				}
			}

			&.fill {
				border: 2px solid $ecospin-green;
				color: $ecospin-white;
				background-color: $ecospin-green;
				margin-left: 10px;

				.scan {
					font-size: $font-size-l;
					margin-right: 10px;
				}
			}
		}
	}
}